@model IEnumerable<MarketMatch.Models.ShoppingList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Size
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    // Find the related product
    var product = new Product();
    @foreach (Product p in ViewBag.Product)
    {
        if (item.ProductId == p.ProductId)
        {
            product = p;
            break;
        }
}   
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Size
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListId">Edit</a> |
<!--                <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.ListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
